<footer>
  <div class="hr-line"></div>
  <section class="bg-footer">
 <!--       <img class="sotic_images"
      src="/images/rugby-swoosh-01.svg">-->
  </section>
  <section class="left-footer">
    <div class="img_left_footer">
    <span class="svg-class">{% include "rugby-championship-a.njk" %}</span>
    </div>
  </section>
  <section class="center-footer">
    <span class="text-footer">Useful Links</span>
    <ul class="usefull-links">
      <li class="usefull-links-text"><a href="/fixtures-results">Results & Fixtures</a></li>
      <li class="usefull-links-text"><a href="/table">Table</a></li>
      <li class="usefull-links-text"><a href="/gallery">Gallery</a></li>
  </section>
  <section class="right-footer">
    <div class="right-footer-text">TITLE PARTNER</div>
    <div class="img_right_footer">
      <img src="/images/guiness.png">
    </div>
  </section>
</footer>