<header>
  <section class="logo-section">
    <div class="logo-section1">
      <div class="logo">
        <a href="/">
          {% include "six-nations.njk" %}
        </a>
      </div>
    </div>
  </section>
  <section class="teams-section">
    <div class="teams-container">
      <div class="team-text">Teams</div>
      <ul class="team-logo">
        <li>
          <a href="/wales">
            <span class="svg-class">{% include "wales.njk" %}</span>
          </a>
        </li>
        <li>
          <a href="/scotland">
            <span class="svg-class">{% include "scotland.njk" %}</span>
          </a>
        </li>
        <li>
          <a href="/italy">
           <span class="svg-class">{% include "italy.njk" %}</span>
          </a>
        </li>
        <li>
          <a href="/england">
           <span class="svg-class">{% include "england.njk" %}</span>
          </a>
        </li>
        <li>
          <a href="/france">
            <span class="svg-class">{% include "france.njk" %}</span>
          </a>
        </li>
        <li>
          <a href="/ireland">
            <span class="svg-class">{% include "ireland.njk" %}</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <nav>
    <div class="nav-container">
      <ul class="navigation">
        <li class="top-Nav"><a href="/">Home</a></li>
        <li class="top-Nav"><a href="/fixtures-results">Results & Fixtures</a></li>
        <li class="top-Nav"><a href="/table">Table</a></li>
        <li class="top-Nav"><a href="#">Teams</a>
          <ul class="navigation level__2">
            <li class="nav-ireland"><a href="/ireland">Ireland</a></li>
            <li class="nav-france"><a href="/france">France</a></li>
            <li class="nav-england"><a href="/england">England</a></li>
            <li class="nav-scotland"><a href="/scotland">Scotland</a></li>
            <li class="nav-wales"><a href="/wales">Wales</a></li>
            <li class="nav-italy"><a href="/italy">Italy</a></li>
          </ul>
        </li>
        <li class="top-Nav"><a href="/gallery">Gallery</a></li>
      </ul>
    </div>
  </nav>
  <div class="hr-line"></div>
</header>