<!-- SIDEBAR START -->
<aside>
  <section class="sidebar-section">          
    <div class="sidebar-flex-container">
      <div class="sidebar-item sidebar-item3">
        <div class="podcast-heading">Podcast</div>
        <figure>
          <div class="audio-container">
            <img src="/images/podcast.png" alt="example" />
            <div class="audio-text-container">
              <h1>EP#1 : Ireland v France</h1>
              <p>On todays show we talk about Irelands against France</p>
            </div>
          </div>
          <div class="audio">
            <audio controls src="/audio/myMP3.mp3"></audio>
          </div>
        </figure>
      </div>
      <div class="sidebar-item sidebar-item1">
        <div class="table-wrapper">
          <table class="results-table">
            <thead>
              <tr>
                <th>POS</th>
                <th>TEAM</th>
                <th>PL</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>PTS</th>
              </tr>
            </thead>
            <tr>
              <td>1</td>
              <td>
                <span class="team-logo-text">
                  <span class="svg-class nav-team-logo">{% include "ireland.njk" %}</span>
                  <span class="sidebar-tf-bold">Ireland</span>
                </span>
              </td>
              <td>2</td>
              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td>10</td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                <span class="team-logo-text">
                  <span class="svg-class nav-team-logo">{% include "scotland.njk" %}</span>
                  <span class="sidebar-tf-bold">SCOTLAND</span>
                </span>
              </td>
              <td>2</td>
              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td>10</td>
            </tr>
            <tr>
              <td>3</td>
              <td>
                <span class="team-logo-text">
                  <span class="svg-class nav-team-logo">{% include "england.njk" %}</span>
                  <span class="sidebar-tf-bold">ENGLAND</span>
                </span>
              </td>
              <td>2</td>
              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td>10</td>
            </tr>
            <tr>
              <td>4</td>
              <td>
                <span class="team-logo-text">
                  <span class="svg-class nav-team-logo">{% include "france.njk" %}</span>
                  <span class="sidebar-tf-bold">FRANCE</span>
                </span>
              </td>
              <td>2</td>
              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td>10</td>
            </tr>
            <tr>
              <td>5</td>
              <td>
                <span class="team-logo-text">
                  <span class="svg-class nav-team-logo">{% include "italy.njk" %}</span>
                  <span class="sidebar-tf-bold">ITALY</span>
                </span>
              </td>
              <td>2</td>
              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td>10</td>
            </tr>
            <tr>
              <td>6</td>
              <td>
                <span class="team-logo-text">                
                  <span class="svg-class nav-team-logo">{% include "wales.njk" %}</span>
                  <span class="sidebar-tf-bold">WALES</span>
                </span>
              </td>
              <td>2</td>
              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td>10</td>
            </tr>
          </table>
        </div>
        <div class="sidebar-link">
          <a href="/table" title="Full Fixtures">
            <span class="sidebar_text_link">See Full Table</span>
          </a>
        </div>
      </div>
      <div class="sidebar-item sidebar-item2">
        <div class="fixtures-heading">Fixtures</div>
        <div class="sidebar-fixtures">
          <div class="match-info">                
            <span class="svg-class home-team">{% include "italy.njk" %}</span>
            <div class="text">
              <h2>14:15</h2>
              <p>26 Feb 2023</p>
            </div>                
            <span class="svg-class away-team">{% include "ireland.njk" %}</span>
          </div>
          <div class="match-info">                
            <span class="svg-class home-team">{% include "wales.njk" %}</span>
            <div class="text">
              <h2>16:45</h2>
              <p>25 Feb 2023</p>
            </div>                
            <span class="svg-class away-team">{% include "england.njk" %}</span>
          </div>
          <div class="match-info">                
            <span class="svg-class home-team">{% include "france.njk" %}</span>
            <div class="text">
              <h2>15:00</h2>
              <p>26 Feb 2023</p>
            </div>                
            <span class="svg-class away-team">{% include "scotland.njk" %}</span>
          </div>
        </div>
        <div class="sidebar-link">
          <a href="/fixtures-results" title="Full Fixtures">
            <span class="sidebar_text_link">See Full Results & Fixtures</span>
          </a>
        </div>
      </div>
    </div>         
  </section>
</aside>
<!-- SIDEBAR ÈND -->