---
layout: layout.njk
---  
<!--  Content & Sidebar -->
<main>
  <section class="main-content content-background-white">
    <section class="content-section">
      <div class="content-heading">
        <h1 class="h1-page-style">
          <span class="h1-page-line content-background-white">
            France national rugby union team
          </span>
        </h1>
      </div>
      <div class="content_main">
        <!-- CONTENT START -->
        <div class="myPageContent">
          <img class="news-img" src="/images/france.jpg" alt="France">
          <p>The France national rugby union team (French: Équipe de France de Rugby à XV) represents France in
            men's international rugby union and it is administered by the French Rugby Federation. They
            traditionally play in blue shirts emblazoned with the national emblem of a golden rooster on a red
            shield, with white shorts and red socks; thus they are commonly referred to as Les Tricolores or Les
            Bleus. The team's home matches are mostly played at the Stade de France in the Paris suburb of
            Saint-Denis. Rugby was introduced to France in 1872 by the British, and on New Years Day 1906, the
            national side played its first test match – against New Zealand in Paris. France played sporadically
            against the Home Nations until they joined them to form the Five Nations Championship (now the Six
            Nations) in 1910. France also competed in the rugby competitions at early Summer Olympics, winning the
            gold medal in 1900 and two silver medals in the 1920s. The national team came of age during the 1950s
            and 1960s, winning their first Five Nations title outright in 1959. They won their first Grand Slam in
            1968. Since then they have won the title outright 18 times, including ten grand slams, and shared it
            eight times.</p>

          <p>France has competed in every Rugby World Cup since it began in 1987, and qualified for the knock-out
            stage each time. They have reached the final three times, losing to New Zealand in 1987 and 2011, and to
            Australia in 1999. France hosted the 2007 Rugby World Cup, where, as in 2003, they were beaten in the
            semi-finals by England, and will once again host the tournament in 2023.</p>

          <p>Historically, France played internationals at venues such as the Parc des Princes and the Stade
            Olympique de Colombes, both in Paris.The Stade Olympique de Colombes was the main venue for the
            1924 Summer Olympics, where rugby was a sport. Ever since moving out of Parc des Princes at the end of 1997, 
            France's main home venue has been the
            Stade de France in Saint-Denis, where their home Six Nations matches are played. It has a capacity of
            80,000.[26] Since 2005, France has also played home internationals at the following venues around the
            country: Stade Chaban-Delmas, Grand Stade Lille Métropole (now known as Stade Pierre-Mauroy), Stade
            Gerland, Stade Vélodrome, Stade de la Mosson, Stade de la Beaujoire, Stade Bonal, Stadium Municipal
            (Toulouse) and U Arena
          </p>
        </div>
      </div>
    <!-- CONTENT END -->
    </section>    
    <!-- Sidebar Start -->
    {% include "sidebar.njk" %}
    <!-- Sidebar End -->      
  </section>  
</main>
<!--  Content & Sidebar END-->
 