---
layout: layout.njk
---  
<!--  Content & Sidebar -->
<main>  
  <!-- Full Width -->
    <section class="main-content-full-width content-background-white">
      <section class="content-section-full-width">
        <div class="content-heading">
          <h1 class="h1-page-style">
            <span class="h1-page-line content-background-white">
              Gallery
            </span>
          </h1>
        </div>
        <div class="content_main gallery">
          <!-- CONTENT START -->
          <ul>
            <li>
              <img src="/images/gallery/image_1.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_2.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_3.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_4.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_5.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_6.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_7.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_8.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_9.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_10.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_11.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_12.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_13.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_14.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_15.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_16.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_17.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_18.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_19.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_20.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_21.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_22.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_23.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_24.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_25.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_26.jpg">
            </li>
            <li>
              <img src="/images/gallery/image_27.jpg">
            </li>
    
            <!--  Adding an empty <li> here so the final photo doesn't stretch like crazy-->
            <li></li>
          </ul>
        </div>
      <!-- CONTENT END -->
      </section>      
  </section>  
</main>
<!--  Content & Sidebar END-->
 