---
layout: layout.njk
---  
<!--  Content & Sidebar -->
<main>  
  <section class="main-content content-background-white">
      <section class="content-section">
        <div class="content-heading">
          <h1 class="h1-page-style">
            <span class="h1-page-line content-background-white">
              Ireland national rugby union team
            </span>
          </h1>
        </div>
        <div class="content_main">
      <!-- CONTENT START -->
      <div class="myPageContent">
        <img class="news-img" src="/images/ireland.jpg" alt="Ireland">
        <p>The Ireland national rugby union team is the men's representative national team for the island of
          Ireland in rugby union. The team represents both the Republic of Ireland and Northern Ireland. Ireland
          competes in the annual Six Nations Championship and in the Rugby World Cup. Ireland is one of the four
          unions that make up the British & Irish Lions – players eligible to play for Ireland are also eligible
          for the Lions.

          The Ireland national team dates to 1875, when it played its first international match against England.
          Ireland reached number 1 in the World Rugby Rankings for the first time in 2019. Eleven former
          Ireland players have been inducted into the World Rugby Hall of Fame.</p>

        <p>The traditional home of Irish rugby is Lansdowne Road in Dublin, where most of Ireland's home matches
          were held. The stadium was rebuilt between 2007 and 2010. Naming rights were sold to an insurance
          company, and the venue is now referred to as the Aviva Stadium.

          The original stadium, owned by the Irish Rugby Football Union, was built in 1872, and so the venue
          continues to hold the distinction as the oldest still in use for international rugby. In 1878 the ground
          hosted its first rugby Test, with Ireland playing host to the English (the first representative rugby
          match had taken place prior to the Test, a game between Ulster and Leinster). Lansdowne Road had a
          capacity of just over 49,000 before it was demolished in summer 2007. The redeveloped stadium seats
          51,700 and was opened in May 2010. The final Irish Test prior to work commencing on the remodelled
          stadium was against the Pacific Islanders in late 2006.

          With Lansdowne Road unavailable for use, Ireland was without a suitable home ground for the subsequent
          Six Nations. The Gaelic Athletic Association (GAA) owned Croke Park (an 82,500 capacity stadium), was
          made available for Ireland's two home games against France and England in 2007. It was the first time
          ever that rugby had been played at the venue. Croke Park remained in use for Ireland's Six Nations
          matches and other major Tests until the completion of the redevelopment at Lansdowne Road.


          Aviva Stadium, on Lansdowne Road
          The first Ireland match at the rebuilt stadium was against reigning World Cup champions South Africa on
          6 November 2010. South Africa won the match 23–21. Because of the historic significance of this match,
          South Africa announced that they would wear their change strip to allow Ireland to wear their home
          green; normally, the home team change their colours in the event of a clash.

          Although Ireland has never totally hosted the Rugby World Cup, select games from both the 1991 and 1999
          World Cups were played throughout venues in Ireland. Pool B in 1991 was mainly played in Ireland and
          Scotland, with two games at Lansdowne Road (involving Ireland) and one (Zimbabwe v Japan) played at
          Ravenhill, Belfast. A quarter-final and a semi-final were also hosted by Dublin. A similar system was
          used in 1999, though in addition to Lansdowne and Ravenhill, Thomond Park was also a venue. Lansdowne
          Road was also the host of a quarter-final in 1999. Ireland were set to host matches at Lansdowne Road
          for the 2007 World Cup, but due to scheduling conflicts with the reconstruction of the stadium, they
          decided they were not in a position to host any.</p>
        <p>Ireland have competed at every Rugby World Cup tournament. The furthest they have progressed is the
          quarter-finals, which they have made seven times out of nine. They have finished top of their pool
          twice, in 2011, after beating pool favourite Australia, and in 2015 leaving France in 2nd place.

          In the first tournament, held in Australia and New Zealand in 1987, Ireland finished second in their
          pool after a loss to Wales, before Ireland were knocked out by Australia in the quarter-final in Sydney.
        </p>
      </div>
      <!-- CONTENT END -->
    </section>    
    <!-- Sidebar Start -->
    {% include "sidebar.njk" %}
    <!-- Sidebar End -->      
  </section>  
</main>
<!--  Content & Sidebar END-->
 