---
layout: layout.njk
---  
<!--  Content & Sidebar -->
<main>  
   <section class="main-content content-background-white">
      <section class="content-section">
        <div class="content-heading">
          <h1 class="h1-page-style_news">
            <span class="h1-page-line_news">
              ANALYSIS: HOW ITALY’S ATTACK OPENED UP IRELAND
            </span>
          </h1>
        </div>
        <div class="content_main">
          <!-- CONTENT START -->
          <div>
            <div class="myNewsContent">
              <img class="news-img" src="/images/item3.jpg" alt="Furlong">
              <h2>Paolo Garbisi’s long-awaited return came with a great deal of expectation and the fly-half lived up to
                it and more on his comeback for the Azzurri.
              </h2>
              <p>Still just 22 years old, Garbisi has quickly become Italy’s most important player since making his
                debut against Ireland three years ago in Dublin.</p>

              <p>Up against the same opposition, but in a very different Italy team, Garbisi showed just why his
                playmaking is so important for Kieran Crowley’s team, who are bidding to become one of rugby’s most
                entertaining sides.</p>
              <p>>They certainly were at the Stadio Olimpico in a match where the world’s number one side were pushed to
                the limit until Mack Hansen’s second try ten minutes from time finally saw off the stubborn Italian
                resistance.</p>

              <p>What was most impressive from an Italian perspective was how regularly they were able to open Ireland
                up, both from first phase and quick ruck ball.</p>

              <p>It was in large part down to Garbisi, his range of passing and his decision-making already marking him
                out as one of the best tens in the game.</p>

              <p> Up against an Ireland team forced into a late reshuffle with Garry Ringrose unavailable, Garbisi took
                full advantage of the lack of collective game time for Stuart McCloskey and Bundee Aki, regularly
                putting players through gaps in the midfield.</p>

              <p>Lorenzo Cannone, the outstanding No.8, was the chief beneficiary, but it came thanks to the multiple
                options available to Garbisi when he got his hands on the ball.</p>

              <p>In the build-up to the first Italy try, Garbisi takes a pass out the back from Ignacio Brex with Ange
                Capuozzo and Tommaso Menoncello – Italy’s two most dangerous strike runners – immediately to his right.
              </p>

              <p>With Aki covering Garbisi’s running threat, as well as Capuozzo, James Lowe bites in to prevent
                Menoncello getting a free run through.</p>

              <p>Garbisi has already spotted where the gap will be and goes further out with his pass, finding Cannone
                and taking Lowe out of the play completely.
              </p>
              <p>
                Suddenly, the No.8 is striding forwards with options to his left and right, while Aki desperately tries
                to get back and Hugo Keenan finds himself in the unenviable position of having to turn his back on the
                man in possession.</p>

              <p>While Ross Byrne gets across to stop Cannone, and Ireland look to have cover defence getting back, the
                speed of ball gives Stephen Varney the chance to pick and dart over before anyone can get to him.</p>

              <p>We saw in November that Italy can be lethal when they get quick ball, running brilliant lines off their
                playmakers, and with Garbisi pulling the strings, the right pass is being made more often than not.</p>

              <p>Italy almost had a second try soon after, again thanks to a Cannone break, this time off first phase.
              </p>

              <p>This one was more intricate and came as the Azzurri had clearly highlighted a gap in the Ireland
                defensive set-up.</p>

              <p>It was inevitable that McCloskey and Aki would not be as clued in as Robbie Henshaw and Garry Ringrose
                would be, having marshalled both the Leinster and Ireland midfields for the best part of half a decade.
              </p>
            </div>
          </div>
        </div>
      <!-- CONTENT END -->
      </section>    
      <!-- Sidebar Start -->
      {% include "sidebar.njk" %}
      <!-- Sidebar End -->      
  </section>  
</main>
<!--  Content & Sidebar END-->
 