---
layout: layout.njk
---  
<!--  Content & Sidebar -->
<main>  
  <section class="main-content content-background-white">
      <section class="content-section">
        <div class="content-heading">
          <h1 class="h1-page-style_news">
            <span class="h1-page-line_news content-background-white">
              TOWNSEND: SCOTLAND PLAYED THEIR ‘BEST RUGBY OF THE TOURNAMENT’ IN FRANCE DEFEAT
            </span>
          </h1>
        </div>
        <div class="content_main">
          <!-- CONTENT START -->
          <div>
            <div class="myNewsContent">
              <img class="news-img" src="/images/item1.jpg" alt="Gregor Townsend">
              <h2>Gregor Townsend feels Scotland delivered their best performance of the Championship in their narrow
                32-21 defeat against France.
              </h2>
              <p>Having beaten England and Wales in the opening two rounds, Scotland travelled to Stade de France hoping
                to take another step towards a first Grand Slam since 1999.
              </p>
              <p>Grant Gilchrist’s early red card put them on the back foot and though France’s Mohamed Haouas was also
                dismissed early on, Les Bleus raced into a 19-0 lead with just 18 minutes played.
              </p>
              <blockquote class="twitter-tweet tw-align-center">
                <p lang="en" dir="ltr">REPORT: Last-gasp try clinches stunning French victory against Scotland in
                  memorable encounter. <a
                    href="https://twitter.com/hashtag/FRAvSCO?src=hash&amp;ref_src=twsrc%5Etfw">#FRAvSCO</a></p>&mdash;
                Guinness Six Nations (@SixNationsRugby) <a
                  href="https://twitter.com/SixNationsRugby/status/1629894883661041675?ref_src=twsrc%5Etfw">February 26,
                  2023</a>
              </blockquote>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              <p>
                Scotland fought back courageously and trailed by just four points as the clock entered the red but Gael
                Fickou’s overtime try robbed them of a bonus point, the least they deserved for their part in an epic
                encounter.
              </p>
              <p>“I was very proud of the team because we probably produced our best rugby of the tournament and didn’t
                win,” said Townsend.
              </p>
              <p>“It’s weird saying that when you’ve had two victories but a lot of our play was outstanding. There was
                effort, high skill and then there was resilience to go a man and points down and come back into the
                game.
              </p>
              <p>“But really, we are disappointed. We were over the line on two occasions and didn’t score.”</p>
              <p>Townsend’s side were hampered by the early dismissal of Gilchrist, who was shown a red card by referee
                Nika Amashukeli after just six minutes for a shoulder-to-head collision with Anthony Jelonch.</p>
              </p>
              <p>That forced them into a reshuffle, with the returning Hamish Watson sacrificed for Jonny Gray to
                mitigate a potential disadvantage at the set-piece.
              </p>
              <blockquote class="twitter-tweet tw-align-center">
                <p lang="en" dir="ltr">A red card apiece in the opening quarter means anything could happen here in
                  Paris 🟥<a href="https://twitter.com/hashtag/FRAvSCO?src=hash&amp;ref_src=twsrc%5Etfw">#FRAvSCO</a> <a
                    href="https://t.co/KG33V9zTaz">pic.twitter.com/KG33V9zTaz</a></p>&mdash; Guinness Six Nations
                (@SixNationsRugby) <a
                  href="https://twitter.com/SixNationsRugby/status/1629867858942459906?ref_src=twsrc%5Etfw">February 26,
                  2023</a>
              </blockquote>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              <p>If anything, the greater space across the park played into the hands of Finn Russell and Huw Jones, who
                dovetailed brilliantly.</p>
              <p> Neither started Scotland’s first two Autumn Nations Series fixtures but both are now considered a key
                part of Townsend’s attack, and were responsible for all three of Scotland’s tries in Paris.
              </p>
            </div>
          </div>
        </div>
      <!-- CONTENT END -->
      </section>    
      <!-- Sidebar Start -->
      {% include "sidebar.njk" %}
      <!-- Sidebar End -->      
  </section>  
</main>
<!--  Content & Sidebar END-->
 