---
layout: layout.njk
---  
<!--  Content & Sidebar -->
<main>  
  <section class="main-content content-background-white">
      <section class="content-section">
        <div class="content-heading">
          <h1 class="h1-page-style_news">
            <span class="h1-page-line_news">
              WHAT IMPACT CAN IRELAND’S RETURNING STARS HAVE ON GRAND SLAM DREAM?
            </span>
          </h1>
        </div>
        <div class="content_main">
          <!-- CONTENT START -->
          <div>
            <div class="myNewsContent">
              <img class="news-img" src="/images/item2.jpg" alt="Furlong">
              <h2>
                Andy Farrell gave Ireland supporters the news they had been desperate to hear after Finlay Bealham’s
                injury in their 34-20 victory over Italy – Tadhg Furlong is fighting fit.
              </h2>
              <p>Bealham suffered a nasty knee ligament injury and was seen with a knee brace on, after being tackled
                awkwardly.</p>
              <p>
                That makes Furlong’s return essential, but there is also due to be the return of scrum-half Jamison
                Gibson-Park and centre Robbie Henshaw right when it matters and skipper Johnny Sexton is also due to be
                fit.
              </p>
              <p>
                Of course, Irish rugby is in a very healthy state right now – the world number one side, with three
                victories from three in the Championship as they search for a first Grand Slam since 2018.
              </p>
              <p>The next game however, is arguably the toughest they will have faced in this year’s Guinness Six
                Nations, as Farrell and his side visit BT Murrayfield to take on Scotland, who themselves are chasing
                the Triple Crown.
              </p>
              <p>Farrell will now have some of his star names back fit and firing, but how can they impact Ireland and
                how will they give serious selection headaches to Ireland’s coaching team?
              </p>
              <h2>Furlong back just in time </h2>
              <p>Victory over Italy was an important step in Ireland’s Grand Slam dreams, but it did not come without
                cost, as tighthead prop Finlay Bealham’s injury has ruled him out of the remainder of the Guinness Six
                Nations.</p>
              <p>That would have made Farrell’s words following that win in Rome feel that much sweeter.</p>

              <blockquote class="news-quote">
                Tadhg (Furlong) is going really well and we would expect him to train Wednesday and Thursday when we’re in camp.
                <span>Andy Farrell</span>
              </blockquote>
              <p>Furlong has been struggling with a hamstring and then a calf injury and has not played any rugby in
                2023, but his return is just what Ireland needed.</p>
              </p>
              <img class="news-img" src="/images/Ireland-Furlong.jpg" alt="Furlong">
              <p>The Leinster prop is one of the very best in world rugby in all facets of his game, at the scrum, in
                the loose and at the breakdown and with Bealham out his return is timely.</p>
              <p>Bealham has delivered so far this Championship, especially in the thrilling win over France, and there
                would have been an interesting decision to be made had he been fit.</p>
              <p>But with Furlong now ready to go, Farrell’s worries will be over in that area, and if he can get to
                even close to where he was before, Scotland will have their work cut out.</p>
            </div>
          </div> 
        </div>
      <!-- CONTENT END -->
      </section>    
      <!-- Sidebar Start -->
      {% include "sidebar.njk" %}
      <!-- Sidebar End -->      
  </section>  
</main>
<!--  Content & Sidebar END-->
 