---
layout: layout.njk
---  
<!--  Content & Sidebar -->
<main>  
  <section class="main-content content-background-white">
      <section class="content-section">
        <div class="content-heading">
          <h1 class="h1-page-style">
            <span class="h1-page-line content-background-white">
              Scotland national rugby union team
            </span>
          </h1>
        </div>
        <div class="content_main">
          <!-- CONTENT START -->
          <div class="myPageContent">
            <img class="news-img" src="/images/scotland.jpg" alt="Scotland">
            <p>The Scotland national rugby union team represents Scotland in men's international rugby union and is
              administered by the Scottish Rugby Union. The team takes part in the annual Six Nations Championship,
              where they are the current Calcutta Cup holders. They also participate in the Rugby World Cup, which
              takes place every four years.

              As of 6 February 2023, Scotland are 5th in the World Rugby Rankings.[1]

              The history of the team extends back to 1871 when the Scottish rugby team played their first official
              test match, winning 1–0 against England at Raeburn Place. Scotland competed in the Five Nations from the
              inaugural tournament in 1883, winning it 14 times outright—including the last Five Nations in 1999—and
              sharing it another 8. In 2000 the competition accepted a sixth competitor, Italy, thus forming the Six
              Nations. Since this change, Scotland have yet to win the competition. The Rugby World Cup was introduced
              in 1987 and Scotland have competed in all nine competitions, the most recent being in 2019, where they
              failed to reach the quarter-finals. Their best finish came in 1991, where they lost to the All Blacks in
              the third place play-off.</p>

            <p>Scotland play at Murrayfield Stadium which is the largest sports stadium in Scotland and with a
              capacity of 67,144 - the fifth largest in the UK. In the early years the Scottish rugby team played at
              Inverleith in Edinburgh. In 1923 SRU identified 19 acres of land at Murrayfield on which to build a
              purpose-built stadium, purchasing this from Edinburgh Polo Club. One stand and three embankments were
              constructed over the following two years with the first international match taking place in 1925 where
              70,000 people watched Scotland win 14–11 against England, thereby securing both the championship and a
              Grand Slam.</p>

            <p>The stadium has been developed over the years with the East Stand built in 1983, the new North and
              South stands in 1993 and a redeveloped West Stand completed in 1994.

              Murrayfield's record attendance of 104,000 was set on 1 March 1975 when Scotland defeated Wales 12–10
              during the 1975 Five Nations Championship.[125] This attendance stood as a world record until 1999 when
              107,042 attended the Bledisloe Cup match between Australia and New Zealand in Stadium Australia.
            </p>
          </div>
        </div>
      <!-- CONTENT END -->
      </section>    
      <!-- Sidebar Start -->
      {% include "sidebar.njk" %}
      <!-- Sidebar End -->      
  </section>  
</main>
<!--  Content & Sidebar END-->
 