---
layout: layout.njk
---  
<!--  Content & Sidebar -->
<main>  
  <!-- Full Width -->
    <section class="main-content-full-width content-background-grey">
      <section class="content-section-full-width">
        <div class="content-heading">
          <h1 class="h1-page-style">
            <span class="h1-page-line content-background-grey">
              Six Nations Full Table
            </span>
          </h1>
        </div>
        <div class="content_main">
          <!-- CONTENT START -->
          <div class="full-table">
            <div class="table-wrapper">
              <table class="results-table">
                <thead>
                  <tr>
                    <th>POS</th>
                    <th>TEAM</th>
                    <th>PL</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>PF</th>
                    <th>PA</th>
                    <th>DIFF</th>
                    <th>TF</th>
                    <th>TA</th>
                    <th>TB</th>
                    <th>LB</th>
                    <th>PTS</th>
                  </tr>
                </thead>
                <tr>
                  <td>1</td>
                  <td>
                    <span class="team-logo-text">
                      <span class="svg-class nav-team-logo">{% include "ireland.njk" %}</span>
                      <span class="sidebar-tf-bold">Ireland</span>
                    </span>
                  </td>
                  <td>3</td>
                  <td>3</td>
                  <td>0</td>
                  <td>0</td>
                  <th>100</th>
                  <th>49</th>
                  <th>51</th>
                  <th>13</th>
                  <th>4</th>
                  <th>3</th>
                  <th>0</th>
                  <td>15</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>
                    <span class="team-logo-text">
                      <span class="svg-class nav-team-logo">{% include "scotland.njk" %}</span>
                      <span class="sidebar-tf-bold">SCOTLAND</span>
                    </span>
                  </td>
                  <td>3</td>
                  <td>2</td>
                  <td>0</td>
                  <td>1</td>
                  <th>85</th>
                  <th>62</th>
                  <th>23</th>
                  <th>12</th>
                  <th>8</th>
                  <th>2</th>
                  <th>0</th>
                  <td>10</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>
                    <span class="team-logo-text">
                      <span class="svg-class nav-team-logo">{% include "england.njk" %}</span>
                      <span class="sidebar-tf-bold">ENGLAND</span>
                    </span>
                  </td>
                  <td>3</td>
                  <td>2</td>
                  <td>0</td>
                  <td>1</td>
                  <th>74</th>
                  <th>53</th>
                  <th>21</th>
                  <th>11</th>
                  <th>7</th>
                  <th>1</th>
                  <th>1</th>
                  <td>10</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>
                    <span class="team-logo-text">
                      <span class="svg-class nav-team-logo">{% include "france.njk" %}</span>
                      <span class="sidebar-tf-bold">FRANCE</span>
                    </span>
                  </td>
                  <td>3</td>
                  <td>2</td>
                  <td>0</td>
                  <td>1</td>
                  <th>80</th>
                  <th>77</th>
                  <th>3</th>
                  <th>9</th>
                  <th>9</th>
                  <th>2</th>
                  <th>0</th>
                  <td>10</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>
                    <span class="team-logo-text">
                      <span class="svg-class nav-team-logo">{% include "italy.njk" %}</span>
                      <span class="sidebar-tf-bold">ITALY</span>
                    </span>
                  </td>
                  <td>3</td>
                  <td>0</td>
                  <td>0</td>
                  <td>3</td>
                  <th>58</th>
                  <th>94</th>
                  <th>-36</th>
                  <th>6</th>
                  <th>14</th>
                  <th>0</th>
                  <th>1</th>
                  <td>1</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>
                    <span class="team-logo-text">
                      <span class="svg-class nav-team-logo">{% include "wales.njk" %}</span>
                      <span class="sidebar-tf-bold">WALES</span>
                    </span>
                  </td>
                  <td>3</td>
                  <td>0</td>
                  <td>0</td>
                  <td>3</td>
                  <th>27</th>
                  <th>89</th>
                  <th>-62</th>
                  <th>3</th>
                  <th>12</th>
                  <th>0</th>
                  <th>0</th>
                  <td>0</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      <!-- CONTENT END -->
      </section>        
  </section>  
</main>
<!--  Content & Sidebar END-->
 