---
layout: layout.njk
---  
<!--  Content & Sidebar -->
<main>  
  <section class="main-content content-background-white">
      <section class="content-section">
        <div class="content-heading">
          <h1 class="h1-page-style">
            <span class="h1-page-line content-background-white">
              Wales national rugby union team
            </span>
          </h1>
        </div>
        <div class="content_main">
          <!-- CONTENT START -->

          <div class="myPageContent">
            <img class="news-img" src="/images/wales.jpg" alt="Wales">
            <p>The Wales national rugby union team (Welsh: Tîm rygbi'r undeb cenedlaethol Cymru) represents Wales in
              men's international rugby union. Its governing body, the Welsh Rugby Union (WRU), was established in
              1881, the same year that Wales played their first international against England. The team plays its home
              matches at the Millennium Stadium in Cardiff (currently known for sponsorship reasons as the
              Principality Stadium), which replaced Cardiff Arms Park as the national stadium of Wales in 1999.</p>
            <p>Wales has competed annually in the Six Nations Championship (previously the Home Nations Championship
              and Five Nations Championship) since it was established in 1883. They have won the tournament (and its
              predecessors) outright 28 times, most recently in 2021. Since 2005, Wales has been the most successful
              team in the Six Nations, winning six Six Nations titles. They include four Grand Slams, again more than
              any other side. Wales has also participated in every Rugby World Cup since the competition was
              established in 1987; they finished third in the inaugural tournament and have since made two
              semi-finals, in 2011 and 2019. Wales were the host nation for the 1999 Rugby World Cup, although matches
              were also played in England, Scotland, Ireland and France.</p>
            <p>The Wales team experienced their first 'golden age' between 1900 and 1911; they first played New
              Zealand in 1905, winning 3–0 in a famous match at Cardiff Arms Park, and between March 1907 and January
              1910, they won 11 consecutive matches, a record that stood for over a century. Welsh rugby struggled
              between the two World Wars, but experienced a second 'golden age' between 1969 and 1980, when they won
              eight Five Nations Championships. In addition to their Six Nations successes, Wales also finished fourth
              at both the 2011 Rugby World Cup and 2019 Rugby World Cup. Additionally Wales won 14 consecutive matches
              between March 2018 and March 2019, and reached number 1 in the World Rugby Rankings for the first time
              in August 2019. Eight former Welsh players have been inducted into the World Rugby Hall of Fame; 10 were
              inducted into the International Rugby Hall of Fame prior to its 2014 merger into the World Rugby Hall of
              Fame.
            </p>
          </div>
        </div>
      <!-- CONTENT END -->
      </section>    
      <!-- Sidebar Start -->
      {% include "sidebar.njk" %}
      <!-- Sidebar End -->      
  </section>  
</main>
<!--  Content & Sidebar END-->